body {
  background: yellow;
}

.h1, .h2 {
  text-align: center;
  font-size: 72px;
  color: blue;}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parent2 {
  margin: 20px auto;
  width: 400px;
  height: 200px;
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(0, 16, 165);
}
.child {
  width: 200px;
  height: 200px;
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(0, 16, 165);
}

.title {
  font-style: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1200px) {
    .h1 {
      font-size: 65px;
    }

    .h2 {
      font-size: 48px;
      padding: 10px 40px;
      line-height: 1.2em;
    }
  }

  @media (min-width: 992px) {
    .h1 {
      font-size: 65px;
    }

    .h2 {
      font-size: 48px;
      padding: 10px 40px;
      line-height: 1.2em;
    }
  }

  @media (max-width: 600px) {
    .h1 {
      font-size: 55px;
    }

    .h2 {
      font-size: 36px;
      padding: 10px 30px;
      line-height: 1.5em;
    }
  }
